@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Lexend:wght@100..900&display=swap');
/* font */

/* routines css */
@import url("./pages/Routines/Routines.css");

* {
  box-sizing: border-box;
}

/* variables */
:root {
  --home: gray;
  --event: #3399ff;
  --task: #00cc00;
  --routine: #ff9933;
}

body {
  background-color: #111e27;
}

/* reset margins */
body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* fonts */
body, button, input, textarea, select, option {
  font-family: Gabarito, sans-serif;
}

/* overall layout responsiveness */
#root > *:not(.modal-backdrop) {
  width: 1200px;
  max-width: calc(100vw - 1rem);
  margin: auto;
  background-color: #69cde9;
}
html, body, #root {
  min-height: 100vh;
}
#root {
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
  padding: 2rem 1rem;
}

/* calendar modal */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

/* header */
header {

  border-bottom: 2px solid gray;
}

header h1 {
  padding: 1rem;
}
