* {
  box-sizing: border-box;
}

/* reset margins */
body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* fonts */
body, button, input, textarea, select, option {
  font-family: sans-serif;
}

/* overall layout responsiveness */
#root > * {
  width: 1200px;
  max-width: calc(100vw - 1rem);
  margin: auto;
  background-color: #e6e6e6;
}